<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
		body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
	</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ehrGNgygMwfxR6D42PQViy7tvlOOfShe"></script>
	<title>Recommend With Your Position</title>
</head>

<body>
	<div id="allmap"></div>
</body>

</html>

<script type="text/javascript">
    {#let item_list = {{item_list | safe}};#}
    let name_list = {{name_list | safe}};
    let la_list = {{la_list | safe}};
    let lo_list = {{lo_list | safe}};
    let len = {{ len | safe }};
    let latitude = {{ latitude | safe }};
    let longitude = {{ longitude | safe }};

	// 百度地图API功能
	let map = new BMap.Map("allmap");
	map.centerAndZoom(new BMap.Point(-118.24, 34.05), 12);

	//开启滚轮缩放
	map.enableScrollWheelZoom();

	//开启惯性拖拽
	map.enableContinuousZoom();

    for (let i = 0; i < len; i++){
        position_marker = new BMap.Marker(new BMap.Point(lo_list[i], la_list[i]));
        mylabel = new BMap.Label(name_list[i], {offset:new BMap.Size(20,-10)});
        position_marker.setLabel(mylabel);
        map.addOverlay(position_marker);
    }

    position_marker = new BMap.Marker(new BMap.Point(longitude, latitude));
    mylabel = new BMap.Label("Your Position", {offset:new BMap.Size(20,-10)});
    position_marker.setLabel(mylabel);
    map.addOverlay(position_marker);
    position_marker.setAnimation(BMAP_ANIMATION_BOUNCE);

    {#//创建标记并显示#}
    {#{% for item in item_list %}#}
    {#    position_marker = new BMap.Marker(new BMap.Point({{ item.longitude }}, {{ item.latitude }}));#}
    {#    mylabel = new BMap.Label({{ item.item_name }});#}
    {#    position_marker.setLabel(mylabel);#}
    {#    map.addOverlay(position_marker);#}
    {#{% endfor %}#}
</script>
